---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allBlogPosts = await getCollection("blog");
---

<BaseLayout title="我的博客">
  <h1>所有博客文章</h1>
  <ul>
    {allBlogPosts.map(post => (
      <li>
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        - {post.data.pubDate.toLocaleDateString('zh-CN')}
      </li>
    ))}
  </ul>
</BaseLayout>